.aperfeicoamento {

  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px 20px;
  background-color: #282828;

}

.aperfeicoamento h1 {

  justify-self: center;
  align-self: center;
  font-size: 8rem;
  color: #FDF5E6;
  margin: 50px 20px;
}

.ap-list {

  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  list-style: none;
 

}

.ap-list-list {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background: #000000;
  padding: 20px;
  border-radius: 4px;
  height: 100px;
  width: 100;
  text-align: left;

}

.ap-instituicao {

  font-size: 0.875rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
  font-weight: bold;

}

.ap-itau {

  background: #000000;
  padding: 20px;
  width: 100%;

  


}

.ap-instituicao-itau {

  display: flex;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;
  font-size: 2rem;
  color: #FDF5E6;

}


.itau-list {

  margin-top: 10px;
  columns: 3;
  width: 100%;
  justify-content: center;
  list-style-type:disc;
  

}

.ap-curso {

  color: #a3a3a3;

}

.itau-curso {

  color: #a3a3a3;
  padding: 10px;


}