@import './header.css';
@import './main.css';
@import './qualificacao.css';
@import './formacao.css';
@import './aperfeicoamento.css';
@import './experiencia.css';
@import './footer.css';

html {

  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: #FFFAFA;
  max-width: 1600px;

}

body {

  margin: 0;

}